<!-- 헤더 섹션 -->
<header id="header" class="header">
    <nav class="navbar">
        <div class="logo">
            <a href="/">
                <a href="#header"><img src="./images/emblem.png" alt="Bansuk Dental Logo"></a>
            </a>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="#about-section">Dental Introduction</a></li>
                <li><a href="#Introduction-section">Director Introduction</a></li>
                <li><a href="#price-section">Price</a></li>
                <li><a href="#equipment-section">Treatment</a></li>
                <li><a href="#process-section">Schedule</a></li>
                <li><a href="#location-section">Location</a></li>
            </ul>
        </div>
        <div class="mobile-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>