<link rel="stylesheet" href="../templet/seoul.css">
<section class="seoul-section">
    <div class="seoul-content">
        <h1>Discover a New Level of Dental Care in the Heart of Seoul!</h1>
        <h2>Meet Dr. Bansuk Kim, Your Trusted Dental Specialist in Seoul </h2>
        <p>As the founder and chief dentist at Bansuk Dental Restoration Clinic, Dr. Bansuk Kim brings a wealth of
            expertise and a dedication to responsible care. Holding dual certifications as a specialist in dental
            conservation and as a certified comprehensive dental practitioner, Dr. Kim combines advanced skills in
            restorative dentistry with an integrated approach to oral health.
        </p>
        <h2>Seamless Communication and Expertise in English </h2>
        <p>Dr. Kim's proficiency in English ensures clear and comfortable communication, making Bansuk Dental
            Restoration Clinic a premier choice for English-speaking patients seeking dental care in Seoul. Whether
            you're a resident or visiting Korea, you'll receive comprehensive care tailored to your unique needs,
            with all procedures and options fully explained in English.
        </p>
        <h2>Why Choose Bansuk Dental Restoration Clinic?</h2>
        <p>For English-speaking patients in Seoul, Bansuk Dental Restoration Clinic offers a rare combination of
            specialized expertise, integrity, and a patient-first approach. From high-quality conservative and
            restorative treatments to advanced implant procedures, Dr. Kim's personalized care and ethical approach
            ensure a positive, trustworthy dental experience.
        </p>
    </div>
    <div class="seoul-image">
        <img src="../images/DSC00079.jpg" alt="placeholder">
    </div>
</section>